# Third-party dependencies
tools/depot_tools/
# Chromium and gclient workspaces
thirdParty/chromium/
thirdParty/.gclient
thirdParty/.gclient_entries

# Build outputs
out/
*.o
*.obj

# OS metadata
.DS_Store
