[submodule "thirdParty/chromium/src"]
	path = thirdParty/chromium/src
	url = https://github.com/techpoctech/chromium.git
	ignore = untracked

[submodule "thirdParty/chromium/src/zsecureweb"]
	path = thirdParty/chromium/src/zsecureweb
	url = https://github.com/techpoctech/zsecureweb-core.git
